body {
    font-family: Quattrocento, sans-serif;
    /* Set the default font */



    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    color: #284650;
    background-color: #E8E0D0;


}

section,
footer {
    background-color: #E8E0D0;
}

h2,
p {
    padding: 10px 0;
    margin: 0;
}



h2 {
    font-size: 4em;
    font-weight: normal;
    /* margin: 0; */
}

img {
    max-width: 100%;
}

.green-link {

    color: rgb(43, 87, 63);
    font-weight: 800;
    text-decoration: none;

}


.col-md-6 {
    padding: 0;
}

.row {
    margin: 0;
}

.sticky-banner {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(17, 72, 47, 0.9);
    text-align: center;
    font-size: 1em;
    z-index: 1000;
}

.sticky-banner a {
    color: white;
    /* Bright orange for the link */
    text-decoration: none;
    font-weight: bold;
}

.sticky-banner a:hover {
    text-decoration: underline;
}


video::-webkit-controls-panel,
video::-moz-controls-panel,
video:-ms-controls-panel {
    display: none;
}



.hero-video {
    position: relative;
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;

    color: white;


}

.hero-video::after {
    /* Adjust video opacity by overlaying a black box (0 for transparent, 1 for solid black) */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


.hero-video video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.nook-hh-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1; /*bring text forward over video*/
    text-align: left;
}



.logo-container {
    position: absolute;
    margin: 0;
    z-index: 1; /*bring text forward over video*/
    text-align: center;
}

.hotel-slogan {
    font-size: 1.2rem;
    font-weight: 400;
}

.main-nav {
    /* start in second half of page */
    grid-row: 1;
    grid-column-start: 2;
    /* position on the top part of the video */
    align-self: start;
    /* Position over video and content */
    z-index: 1;

    padding: 1rem 2rem;

    font-size: 1.2rem;
}

.main-nav ul {
    list-style: none;
    /* Remove default bullet points */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    /* display: grid;
    grid-template-columns: repeat(5, minmax(0, 2fr)); */
    justify-content: space-between;
}

.main-nav li {

    /* Display list items inline (horizontally)*/
    display: inline;
}

.main-nav li a {
    /* White text color */
    text-decoration: none;
    color: inherit;
    /* Remove underline & purple color from links */
    font-weight: bold;
    /* Bold text */
    padding: 0.5rem 1rem;
    /* Add some padding to links */

}

.custom-rounded-img {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.margin-on {
    padding: 0 20px;
}

#about-us {
    padding: 30px 25%;
}

/* reduce padding for smaller screens */
@media (max-width: 768px) {
    #about-us {
        padding: 20px 40px; /* Fixed padding in pixels */
    }
}

/*#about-us p {
    padding: 0;
} */

#natures-kitchen {
    padding-top: 20px;
}

#stay-in {
    padding-bottom: 20px;
}

.fixed-bg {
    position: relative;
    /* So the overlay semi transparent box gets correctly positioned */

    background-size: cover;
    /* Ensures the image covers the entire section */
    background-position: center;
    /* Centers the image */
    background-attachment: fixed;
    /* Keep the image fixed while scrolling */
    color: white;
    /* Changes text color for contrast */
    padding: 50px 20px;
    /* Adjusts padding */



}

.fixed-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 1;
    /* Ensure the overlay is on top */
}


.fixed-bg h2,
.fixed-bg p,
.fixed-bg .three-panel-container,
.fixed-bg .carousel {
    position: relative;
    /* Ensure the content is positioned relative to the section */
    z-index: 2;
    /* Ensure the content is above the overlay */
}

.three-panel img {
    width: 100%;
    height: 350px;
    /* Set a fixed height */
    object-fit: cover;
    /* Crop the image to fit the container */

}



#the-villa {
    text-align: center;
    background-image: url('assets/pool-empty.jpg');

}

#explore {
    text-align: center;
    background-image: url('assets/ricefield1.jpg');
}

#rates,
#goodtoknow {
    text-align: center;
    /* background-color: rgb(1, 49, 39); */
    color: rgb(1, 49, 39);
}



@media(min-width:992px) {
    .heart-image-container {
        position: relative;
        /* Makes the container relative to position its children */
        height: 500px;
    }

    .heart-image-container img {
        position: absolute;
        /* Position the images absolutely */
        left: 0;
        width: 80%;
        /* Ensures both images are responsive */
    }

    .heart-image-container img:first-child {
        z-index: 1;
        left: 20%;
        /* Ensures the first image is below the second */
    }

    .heart-image-container img:last-child {
        top: 35%;
        /* Move the second image downwards by 50% */
        z-index: 2;
        /* Ensures the second image is above the first */
    }
}

@media(max-width:992px) {
    .heart-image-container {
        position: relative;
        /* Makes the container relative to position its children */
        margin-bottom: 50%;
    }

    .heart-image-container img {
        position: absolute;
        /* Position the images absolutely */
        left: 0;
        width: 50%;
        /* Ensures both images are responsive */
    }

    .heart-image-container img:first-child {
        z-index: 1;
        left: 10%;
        /* Ensures the first image is below the second */
    }

    .heart-image-container img:last-child {
        top: 40%;
        left: 40%;
        /* Move the second image downwards by 50% */
        z-index: 2;
        /* Ensures the second image is above the first */
    }
}

#goodtoknow-points {
    align-content: center;
    text-align: left;
}

.leaf-bullets {
    padding: 0;
    list-style: none;
}

.leaf-bullets li {
    margin-bottom: 10px;
    /* Optional: Add space between items */

    position: relative;
    padding-left: 50px;
    /* Add space for the leaf icon */
    /* Aligns the first line of text with the icon */
}

.leaf-bullets li i {
    color: rgb(43, 87, 63);
    /* Customize the color of the leaf icon */
    margin-right: 10px;
    /* Add space between the icon and text */
    font-size: 25px;
    /* Adjust the size of the icon */
    vertical-align: middle;
    /* Align the icon vertically with the text */


    position: absolute;
    left: 0;
    top: 0.1em;
    /* Adjusts the icon position vertically */
}

.leaf-bullets li li {
    margin-left: 25px;
    /* round bullet point move right */
    padding-left: 10px;
    /* distance between round bullet and text */
    padding-top: 0px;
}

#leaf-divider {

    background-color: #E8E0D0;
    /* White background */

    padding: 40px 0;

}

#leaf-divider img {


    max-height: 100px;
    /* Set max height to 20px */
    width: 50%;
    /* Maintain the aspect ratio */
    display: block;
    /* Ensures the image takes up only as much space as needed */
    margin: 0 auto;
    /* Center the image horizontally */
    /* Optional: Adds some padding if needed */

}

#nook-title {
    font-size: 56px;
    line-height: 1;
    font-family: 'Playfair Display SC', serif;
}

#book-now {
    text-align: left;
    display: inline-block;
}

#inclusions {
    text-align: left;
    display: inline-block;
}

#contact-us {
    text-align: center;
    background-color: rgb(1, 49, 39);
    color: white;
}

#contact-us a {
    color: white;
}

.social-med-icons {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    vertical-align: middle;

}

#insta {
    font-size: 2.5rem;
}

/* .explore-container p {
    padding: 10px 20px;
} */