body {
    font-family: Quattrocento, sans-serif;
    /* Set the default font */
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    color: #284650;
    background-color: #E8E0D0;


}

.back-arrow {
    font-size: 3rem;
    color: rgb(43, 87, 63);
    text-decoration: none;
    vertical-align: middle;
    margin: 10px 10px;
}

section,
footer {
    background-color: #E8E0D0;
}

h2,
p {
    padding: 10px 0;
    margin: 0;
}



h2 {
    font-size: 4em;
    font-weight: normal;
    /* margin: 0; */
}

img {
    max-width: 100%;
}

.green-link {

    color: rgb(43, 87, 63);
    font-weight: 800;
    text-decoration: none;
}


.col-md-6 {
    padding: 0;
}

.row {
    margin: 0;
}

.sticky-banner {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(17, 72, 47, 0.9);
    text-align: center;
    font-size: 0.8em;
    z-index: 1000;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.sticky-banner a {
    color: white;
    /* Bright orange for the link */
    text-decoration: none;
    font-weight: bold;
}

.sticky-banner a:hover {
    text-decoration: underline;
}

.sticky-button {
    /* Position */
    position: fixed;
    bottom: 1.5em; /* Increase distance from the edge slightly */
    right: 1.5em; /* Increase distance from the edge slightly */
    z-index: 1000;
    
    /* Shape & Appearance */
    background-color: rgba(17, 72, 47, 0.9);
    
    padding: 0.75em 1.5em; /* Generous padding for a larger touch area */
    border-radius: 50px; /* High radius creates the pill shape */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Soft shadow makes it pop off the page */
    transition: transform 0.2s ease-in-out; /* Smooth hover effect */

    /* Text */
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.sticky-button a {
    text-decoration: none;
    color: white;
    display: block; /* Makes the entire button clickable */
}

/* Hover Effect */
.sticky-button:hover {
    background-color: #8bb28e; /* Subtle color change on hover */
    transform: translateY(-2px); /* Lifts the button slightly */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}

.sticky-button-left {
    /* Position */
    position: fixed;
    bottom: 1.5em; /* Increase distance from the edge slightly */
    left: 1.5em; /* Increase distance from the edge slightly */
    z-index: 1000;

    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Shape & Appearance */
    background-color: rgba(17, 72, 47, 0.9);
    padding: 0.75em 0.75em 0.75em 0.75em; /*Generous padding for a larger touch area */
    border-radius: 50px; /* High radius creates the pill shape */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Soft shadow makes it pop off the page */
    transition: transform 0.2s ease-in-out; /* Smooth hover effect */
}


video::-webkit-controls-panel,
video::-moz-controls-panel,
video:-ms-controls-panel {
    display: none;
}



.hero-video {
    position: relative;
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;

    color: white;


}

.hero-video::after {
    /* Adjust video opacity by overlaying a black box (0 for transparent, 1 for solid black) */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


.hero-video video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.nook-hh-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1; /*bring text forward over video*/
    text-align: left;
}

.hh-nook-logo-container {
    margin: 10px;
    font-size: 40px;
    line-height: 0.5;
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}



.logo-container {
    position: absolute;
    margin: 0;
    z-index: 1; /*bring text forward over video*/
    text-align: center;
}

.hotel-slogan {
    font-size: 1.2rem;
    font-weight: 400;
}

.main-nav {
    /* start in second half of page */
    grid-row: 1;
    grid-column-start: 2;

  /* display: flex;
  justify-content: flex-end; /* pushes hamburger to right */
  align-items: center; */

    /* position on the top part of the video */
    align-self: start;
    /* Position over video and content */
    z-index: 1;

    padding: 0rem 0rem;

    font-size: 1.2rem;
    color: white;
    background-color: rgba(17, 72, 47, 0.9);  
}

.main-nav ul {
    list-style: none;
    /* Remove default bullet points */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    /* display: grid;
    grid-template-columns: repeat(5, minmax(0, 2fr)); */
    justify-content: space-between;
}

.main-nav li {
    /* Display list items inline (horizontally)*/
    display: inline;
}

.main-nav li a {
    /* White text color */
    text-decoration: none;
    color: inherit;
    /* Remove underline & purple color from links */
    font-weight: bold;
    /* Bold text */
    padding: 0.5rem 1rem;
    /* Add some padding to links */
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ✅ Responsive: On smaller screens */
@media (max-width: 700px) {
  .main-nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(17, 72, 47, 0.9);
    flex-direction: column;
    width: 200px;
    display: none; /* hidden by default */
  }

  .main-nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block; /* show the button */
   margin-left: auto; 
  }
}

.custom-rounded-img {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.margin-on {
    padding: 0 20px;
}

#about-us {
    padding: 30px 25%;
}

/* reduce padding for smaller screens */
@media (max-width: 768px) {
    #about-us {
        padding: 20px 40px; /* Fixed padding in pixels */
    }
}

/*#about-us p {
    padding: 0;
} */

#natures-kitchen {
    padding-top: 20px;
}

#stay-in {
    padding-bottom: 20px;
}

.fixed-bg {
    position: relative;
    /* So the overlay semi transparent box gets correctly positioned */

    background-size: cover;
    /* Ensures the image covers the entire section */
    background-position: center;
    /* Centers the image */
    background-attachment: fixed;
    /* Keep the image fixed while scrolling */
    color: white;
    /* Changes text color for contrast */
    padding: 50px 20px;
    /* Adjusts padding */



}

.fixed-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 1;
    /* Ensure the overlay is on top */
}


.fixed-bg h2,
.fixed-bg p,
.fixed-bg .three-panel-container,
.fixed-bg .carousel {
    position: relative;
    /* Ensure the content is positioned relative to the section */
    z-index: 2;
    /* Ensure the content is above the overlay */
}

.three-panel img {
    width: 100%;
    height: 350px;
    /* Set a fixed height */
    object-fit: cover;
    /* Crop the image to fit the container */

}

.section-title {
    text-align: center;
}

.see-more-here {
    position:relative; 
    z-index:2;
    padding-bottom:2em;
}

.see-more-here a { 
    text-decoration: none; 
    color:inherit; 
    font-weight: bold;
}

#our-villas {
    text-align: center;
    background-image: url('assets/ricefield1.jpg');
}

#the-nook {
    text-align: center;
    background-image: url('assets/ricefield1.jpg'); /* todo: doesn't work with nook-deck, but why? */
}

#explore {
    text-align: center;
    background-image: url('assets/ricefield1.jpg');
}

#availability {
    text-align: center;
}

#rates,
#goodtoknow {
    text-align: center;
    /* background-color: rgb(1, 49, 39); */
    color: rgb(1, 49, 39);
}



@media(min-width:992px) {
    .heart-image-container {
        position: relative;
        /* Makes the container relative to position its children */
        height: 500px;
    }

    .heart-image-container img {
        position: absolute;
        /* Position the images absolutely */
        left: 0;
        width: 80%;
        /* Ensures both images are responsive */
    }

    .heart-image-container img:first-child {
        z-index: 1;
        left: 20%;
        /* Ensures the first image is below the second */
    }

    .heart-image-container img:last-child {
        top: 35%;
        /* Move the second image downwards by 50% */
        z-index: 2;
        /* Ensures the second image is above the first */
    }
}

@media(max-width:992px) {
    .heart-image-container {
        position: relative;
        /* Makes the container relative to position its children */
        margin-bottom: 50%;
    }

    .heart-image-container img {
        position: absolute;
        /* Position the images absolutely */
        left: 0;
        width: 50%;
        /* Ensures both images are responsive */
    }

    .heart-image-container img:first-child {
        z-index: 1;
        left: 10%;
        /* Ensures the first image is below the second */
    }

    .heart-image-container img:last-child {
        top: 40%;
        left: 40%;
        /* Move the second image downwards by 50% */
        z-index: 2;
        /* Ensures the second image is above the first */
    }
}

#goodtoknow-points {
    align-content: center;
    text-align: left;
}

.leaf-bullets {
    padding: 0;
    list-style: none;
}

.leaf-bullets li {
    margin-bottom: 10px;
    /* Optional: Add space between items */

    position: relative;
    padding-left: 50px;
    /* Add space for the leaf icon */
    /* Aligns the first line of text with the icon */
}

.leaf-bullets li i {
    color: rgb(43, 87, 63);
    /* Customize the color of the leaf icon */
    margin-right: 10px;
    /* Add space between the icon and text */
    font-size: 25px;
    /* Adjust the size of the icon */
    vertical-align: middle;
    /* Align the icon vertically with the text */


    position: absolute;
    left: 0;
    top: 0.1em;
    /* Adjusts the icon position vertically */
}

.leaf-bullets li li {
    margin-left: 25px;
    /* round bullet point move right */
    padding-left: 10px;
    /* distance between round bullet and text */
    padding-top: 0px;
}

#leaf-divider {

    background-color: #E8E0D0;
    /* White background */

    padding: 40px 0;

}

#leaf-divider img {
    max-height: 100px;
    /* Set max height to 20px */
    width: 50%;
    /* Maintain the aspect ratio */
    display: block;
    /* Ensures the image takes up only as much space as needed */
    margin: 0 auto;
    /* Center the image horizontally */
    /* Optional: Adds some padding if needed */

}

#nook-title {
    font-size: 56px;
    line-height: 1;
    font-family: 'Playfair Display SC', serif;
}

#book-now {
    text-align: left;
    display: inline-block;
}

#inclusions {
    text-align: left;
    display: inline-block;
}

#contact-us {
    text-align: center;
    background-color: rgb(1, 49, 39);
    color: white;
}

#contact-us a {
    color: white;
}

.social-med-icons {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    vertical-align: middle;

}

#insta {
    font-size: 2.5rem;
}

/* .explore-container p {
    padding: 10px 20px;
} */



/* Villa Dropdown Button */
.dropbtn {
    font-size: 1.2rem;
    color: white;
    background-color: rgba(17, 72, 47, 0.9);
    padding: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(17, 72, 47, 0.9);
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.calendar {
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1em;

    border-collapse: collapse;
    font-family: sans-serif;
}

.calendar table {
    width: 40%;
}

.calendar th {
    width: calc(100% / 7);
    background-color: #E8E0D0;  
    /* Light grey for header background */
    color: #333;
    /* Dark grey for header text */
    border: 1px solid #ccc;
    padding: 0.2rem;
    text-align: center;
}

.calendar td {
    width: calc(100% / 7);
    /* border: 1px solid #ccc; */
    padding: 0.2rem;
    text-align: center;
    background-color: #E8E0D0;
    /* Default white background for available days initially */
    color: #E8E0D0;
    /* Default dark grey for available day text */
}

.calendar td.unavailable {
    background-color: #cac5c5;
    /* Grey for unavailable days */
    color: black;
    /* Light grey for unavailable day text */
}

.calendar td.available {
    background-color: #248352;
    /* Your green for available days */
    color: #fff;
    /* White text for available days */
    cursor: pointer;
    /* Indicate availability on hover (optional) */
}

.calendar-row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    width: fit-content;
}

.calendars-row-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto; 
    width: fit-content;
}

.arrow {
  display: inline-block;
  font-size: 5rem;
  color: #284650;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 0.1em;
}